<section>

  <div class="row">
    <section class="row">

      <div class="container">
        <div class="row">

          <div class="col s12 m12 l12">

            <mat-card>
              <mat-card-content>
                <div class="row">
                  <div class="col s12 m6 l6">
                    <mat-form-field appearance="outline" class="col s12 m12 l12">
                      <mat-label disabled="true">Seleccionar Categoria</mat-label>
                      <mat-select placeholder="Filtrar Por" (selectionChange)="selectCategory($event)">
                        <mat-option value="1">Dominio y Desenvolvimiento Escénico</mat-option>
                        <mat-option value="2">Expresión Corporal y Oral</mat-option>
                        <mat-option value="3">Pasarela</mat-option>
                        <mat-option value="4">Pregunta</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col s12 m6 l6">
                    <mat-form-field appearance="outline" class="col s12 m12 l12">
                      <mat-label>Ingrese su Puntuacion</mat-label>
                      <input matInput [(ngModel)]="punctuation" type="number" placeholder="Puntuacion">
                    </mat-form-field>
                  </div>

                  <div class="col l12 m12 s12 center text-center">
                    <mat-chip-list *ngIf="error != undefined" class="text-center center">
                      <mat-chip style="width: 100%;" color="primary" class="center text-center">
                        <span class="text-center">{{ error }}</span>
                      </mat-chip>
                    </mat-chip-list>
                  </div>
                </div>
              </mat-card-content>

              <mat-card-actions>
                <button style="width: 100%;" mat-raised-button color="primary" (click)="sendVote()">Enviar</button>
              </mat-card-actions>
            </mat-card>

          </div>

        </div>
      </div>

    </section>
  </div>
</section>
