.custom-back {
  background-color: #74a8d4;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.card-content {
  width: 350px;
  max-width: 350px;

  padding: 10px;
  margin: 18vh !important;

  border-radius: 5px;
}

.card-header {
  justify-content: center;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 10px;
}

.card-title {
  color: #3e3e3e;
  text-align: center;
  vertical-align: middle;
  font-size: 2em;
}

.content {
  width: auto;
  height: 100%;
  padding: 5% 5% 5% 5%;
  margin-bottom: 0;
  color: #d2d2d2;
}

.card-input {
  width: 100%;
  padding-bottom: 2px;
  color: #696969;
}

.card-action {
  text-align: center;
}

.card-button {
  width: 80%;
  padding: 1.5% !important;
  font-size: 1.5em;
  color: #fff !important;
}

.mat-chip-list-wrapper {
  justify-content: center !important;
}

.text-wrap {
  white-space: normal;
  word-wrap: break-word !important;
}
