<main class="custom-back">
  <div class="center">
    <div class="col l12 m12 s12 margin-top-40 text-center">
      <h1 class="font-type-titles text-center truncate text-shadow-black-1 font-size-70 pink-text text-wrap">
        Chico y Chica IES
      </h1>
    </div>

    <div class="flex-container">
      <mat-card class="card-content">
        <mat-card-header class="card-header">
          <mat-card-title>
            <div>
              <span class="card-title">Inicio de Sesion</span>
            </div>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="content">

          <mat-form-field class="card-input" appearance="outline"> <!-- FORM FIELD USERNAME OR EMAIL -->
            <mat-label>Nombre de Usuario</mat-label>
            <input
              matInput
              name="username"
              placeholder="Nombre de Usuario"
              [(ngModel)]="username">
            <mat-icon matSuffix>lock</mat-icon>
          </mat-form-field>

          <mat-form-field class="card-input" appearance="outline"> <!-- FORM FIELD PASSWORD -->
            <mat-label>Password</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              name="Contraseña" placeholder="Password"
              [(ngModel)]="password">
            <mat-icon matSuffix (click)="hide = !hide" >{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field>

          <mat-card-actions>
            <div class="row">
              <div class="col l12 m12 s12 center text-center">
                <mat-chip-list *ngIf="error != undefined" class="text-center center">
                  <mat-chip style="width: 100%;" color="primary" class="center text-center">
                    <span class="text-center">{{ error }}</span>
                  </mat-chip>
                </mat-chip-list>
              </div>
            </div>

            <button
              mat-raised-button
              color="primary"
              class="card-button"
              (click)="login()">Iniciar Sesion</button>
          </mat-card-actions>
        </mat-card-content>

      </mat-card>
    </div>
  </div>
</main>
