<section class="custom-back">
  <header class="row text-center">
    <div class="col l12 m12">

      <div class="col l10 m8 s12 text-center">
        <h1 class="font-type-titles text-center truncate text-shadow-black-1 font-size-50 pink-text text-wrap padding-bottom-25">
          Participantes
        </h1>
      </div>

      <div class="col l12 m12 s12 margin-top-20">
        <a class="white-text purple btn btn-link btn-block font-type-content" (click)="goBack()">
          Regresar
        </a>
      </div>
    </div>
  </header>

  <div class="row">
    <section>
      <div class="row">
        <div class="col s12 m12 l12">
          <div class="card">
            <div class="row">
              <div class="col l12 m12 s12 padding-bottom-10 padding-left-10 padding-right-10 padding-top-10">
                <mat-form-field appearance="outline" class="col s12 m6 l4">
                  <mat-label disabled="true">Filtrar Por</mat-label>
                  <mat-select placeholder="Filtrar Por" (selectionChange)="changeSelection($event)">
                    <mat-option value="0">Todos</mat-option>
                    <mat-option value="1">Hombres</mat-option>
                    <mat-option value="2">Mujeres</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col s12 m6 l8">
                  <mat-label>Buscar</mat-label>
                  <input matInput placeholder="Buscar Participante" (keyup)="search($event)">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="row">
      <div class="col l3 m6 s12" *ngFor="let candidate of extendedItems">
        <aside class="row">
          <div class="card medium">
            <div class="card-image">
              <img src="{{ candidate?.data?.photo }}">
            </div>

            <div class="card-content text-center">
              <div class="card-title pink-text font-size-vw-middle font-type-content truncate text-wrap">
                {{ candidate?.data?.name }}
              </div>
            </div>

            <div class="card-action">
              <div class="row">
                <a class="btn white-text purple col l12 m12 s12" (click)="goProfile(candidate)">Realizar Votacion</a>
              </div>
            </div>
          </div>
        </aside>
      </div>
    </section>
  </div>
</section>
