<section class="custom-back">
  <mat-toolbar color="accent">
    <mat-toolbar-row style="justify-content: center;">
      <span>{{ currentCandidate?.data?.name }}</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <section class="row">

    <div class="col l3 m3 s12">
      <a class="white-text purple btn btn-link btn-block font-type-content margin-top-20" (click)="goBack()">
        Regresar
      </a>
    </div>

    <div class="col s12 m12 l12">
      <aside class="row">

        <div class="row">
          <div class="col s12 m7 l4">
            <div class="card">
              <div class="card-image">
                <img src="{{ currentCandidate?.data?.photo }}" alt=""/>
              </div>
            </div>
          </div>

          <div class="col s12 m5 l8">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Datos del Participante
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="row">
                  <div class="col s12 m12 l12">

                    <mat-card>
                      <mat-card-content>
                        <div class="row">
                          <h6 class="card-title pink-text font-type-content">Nombre:</h6>
                          <p class="black-text font-size-vw-middle font-size-16 font-type-content">{{ currentCandidate?.data?.name }}</p>
                        </div>

                        <div class="row">
                          <h6 class="card-title pink-text font-type-content">Carrera:</h6>
                          <p class="black-text font-size-vw-middle font-size-16 font-type-content">{{ currentCandidate?.data?.carrera }}</p>
                        </div>

                        <div class="row">
                          <h6 class="card-title pink-text font-type-content">Grupo:</h6>
                          <p class="black-text font-size-vw-middle font-size-16 font-type-content">{{ currentCandidate?.data?.grupo }}</p>
                        </div>
                      </mat-card-content>
                    </mat-card>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Votar
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <app-vote-candidate></app-vote-candidate>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>

        <div class="col l3 m3 s12">
          <a class="white-text purple btn btn-link btn-block font-type-content" (click)="goBack()">
            Regresar
          </a>
        </div>
      </aside>
    </div>
  </section>
</section>
