.custom-back {
  background-color: #74a8d4;
}

.text-wrap {
  white-space: normal;
  word-wrap: break-word !important;
}

.card-image-large {
  max-height: 100% !important;
}

.card-content-large {
  max-height: 100% !important;
}
