<section class="custom-back">
  <mat-toolbar color="accent">
    <mat-toolbar-row style="justify-content: center;">
      <span>Chico y Chica IES</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <section class="row">
    <aside class="col s12 m6">
      <div class="card medium">
        <div class="card-image">
          <img src="http://www.ies.uni.edu.ni/chicaies/assets/media/layout/619.jpg">
          <span class="card-title  font-size-40 white-text text-shadow-black-1 truncate">Jueces</span>
        </div>
        <div class="card-content">
          <p>
            El &aacute;rea de jueces permite el manejo de la votaci&oacute;n por participante, acceda a esta
            area para ver la lista de candidatas y poder votar.
          </p>
        </div>
        <div class="card-action">
          <a [routerLink]="'/candidates'">Votar por candidatas</a>
        </div>
      </div>
    </aside>

    <aside class="col s12 m6">
      <div class="card medium">
        <div class="card-image">
          <img src="http://www.ies.uni.edu.ni/chicaies/assets/media/layout/4.jpg">
          <span class="card-title  font-size-40 white-text text-shadow-black-1">Puntuaci&oacute;n</span>
        </div>
        <div class="card-content">
          <p>
            El &aacute;rea de puntuaci&oacute;n muestra las votaciones globales, acceda a esta
            area para ver la lista de candidatas, ranking y votos.
          </p>
        </div>
        <div class="card-action">
          <a [routerLink]="'/ranking'">Ver Puntuacion</a>
        </div>
      </div>
    </aside>

    <aside>
      <div class="row">
        <div class="col l12 m12 s12">
          <button
            mat-raised-button
            color="primary"
            class="card-button"
            (click)="logout()">Salir</button>
        </div>
      </div>
    </aside>
  </section>
</section>
