<section class="custom-back">
  <mat-toolbar color="accent">
    <mat-toolbar-row style="justify-content: center;">
      <span>Puntuacion</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <section>
    <div class="row">
      <div class="col l3 m3 s12">
        <a class="white-text purple btn btn-link btn-block font-type-content margin-top-20" (click)="goBack()">
          Regresar
        </a>
      </div>
    </div>

    <div class="row">

      <div class="col l12 m12 s12">
        <div class="card">
          <div class="card-content">
            <mat-form-field appearance="outline" class="col l12 m12 s12">
              <mat-label disabled="true">Filtrar Por</mat-label>
              <mat-select placeholder="Filtrar Por" (selectionChange)="filterList($event)">
                <mat-option value="0">Todos</mat-option>
                <mat-option value="1">Hombres</mat-option>
                <mat-option value="2">Mujeres</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-accordion *ngIf="width < 600">

              <mat-expansion-panel class="margin-bottom-10" *ngFor="let candidate of candidateList">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <p class="{{ candidate?.data?.gender == 'M' ? 'blue-text' : 'pink-text'}}"><strong>{{ candidate?.data?.name }}</strong></p>

                    <span class="float-right">Puntuacion Total: {{ getPoints(candidate) }}</span>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-card>
                  <mat-card-content>
                    <div>
                      <div>
                        <img src="{{ candidate?.data?.avatar }}" width="50" height="50" alt="">
                      </div>

                      <p>
                        <strong>Dominio Escenico</strong>
                        <span class="float-right">{{ getDominio(candidate) }}</span>
                      </p>
                      <p>
                        <strong>Expresión Corporal y Oral</strong>
                        <span class="float-right">{{ getExpresion(candidate) }}</span>
                      </p>
                      <p>
                        <strong>Pasarela</strong>
                        <span class="float-right">{{ getPasarela(candidate) }}</span>
                      </p>
                      <p>
                        <strong>Pregunta</strong>
                        <span class="float-right">{{ getPregunta(candidate) }}</span>
                      </p>
                      <p>
                        <strong>Total</strong>
                        <span class="float-right">{{ getPoints(candidate) }}</span>
                      </p>
                    </div>
                  </mat-card-content>
                </mat-card>
              </mat-expansion-panel>


            </mat-accordion>

            <table *ngIf="width >= 600">
              <thead>
              <tr>
                <th colspan="2">Participante</th>
                <th>Dominio Escenico</th>
                <th>Expresión Corporal y Oral</th>
                <th>Pasarela</th>
                <th>Pregunta</th>
                <th>Total</th>
              </tr>
              </thead>
              
              <tbody>
              <tr *ngFor="let candidate of candidateList">
                <td><img src="{{ candidate.data.photo }}" width="50" alt=""></td>
                <td>{{ candidate.data.name }}</td>
                <td>{{ getDominio(candidate) }}</td>
                <td>{{ getExpresion(candidate) }}</td>
                <td>{{ getPasarela(candidate) }}</td>
                <td>{{ getPregunta(candidate) }}</td>
                <td>{{ getPoints(candidate) }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
